!/app/public/Siebenlande
!/app/public/Siebenlande/*

app/public/Siebenlande/.obsidian/app.json
app/public/Siebenlande/.obsidian/appearance.json
app/public/Siebenlande/.obsidian/workspace.json

app/build
app/node_modules