@import '../common/colors.scss';
@import '../common/fonts.scss';

.tag {
    background-color: $link-tag;
    color: $link-active;

    border-radius: 1rem;
    padding: 0 .5rem;

    display: inline-flex;
    align-items: center;

    box-shadow: 0 0 1px 0 rgba($link-active, .5);

    &:hover {
        background-color: $link-active;
        color: $link-tag;
        cursor: pointer;
    }
}