#body-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;

	#body {
		background: rgba(0 0 0 / 50%);
		box-shadow: 0 0 32px 32px rgba(0 0 0 / 50%);
		padding: 0 32px 64px 32px;
	}

	#body,
	#body>.ql-editor {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		color: #FAFAFA;
		text-shadow: 2px 2px 4px rgba(0 0 0 / 25%);
		font-family: "Source Sans Pro", sans-serif;
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}