$base-width: 1024px;
$base-height: 1536px;

#card {
  min-width: $base-width;
  width: $base-width;
  max-width: $base-width;

  min-height: $base-height;
  height: $base-height;
  max-height: $base-height;

  transform-origin: center;

  background: #333;

  transition: transform .1s ease-in-out;
}