#header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;

	#header {
		display: flex;
		flex-direction: row;
		gap: 32px;
		align-items: flex-start;
		align-self: stretch;

		padding: 16px;
		padding-left: 32px;

		#title-wrapper {
			display: flex;
			max-height: 128px;
			padding: 16px 0;
			align-items: flex-start;
			flex: 1 0 0;
			align-self: stretch;

			#title {
				width: 100%;
				color: #FAFAFA;
				text-shadow: 0 0 8px rgba(0, 0, 0, 0.50), 0 0 4px rgba(0, 0, 0, 0.80);
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgba(0, 0, 0, 0.80);
				font-family: Angie;
				font-size: 64px;
				font-style: normal;
				font-weight: 400;
				line-height: 48px; /* 75% */
				letter-spacing: -3.2px;

				&[contenteditable] {
					outline: none;
				}
			}
		}


	}

}