#icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	height: 128px;

	border-radius: 32px;

	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);

	svg.lucide {
		width: 96px;
		height: 96px;
		color: #FAFAFA;
		filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.80)) drop-shadow(0 0 8px rgba(0, 0, 0, 0.50));
	}

}