@import 'common/colors';

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

#left {
  background-color: $darker;
  height: 100%;
  width: 100% * 1/5;
  min-width: 256px;
}

#center {
  background-color: $dark;
  height: 100%;
  flex-grow: 1;
}

#right {
  height: 100%;
  width: 100% * 1/5;
  min-width: 256px;
  border-left: 1px solid red;
}