@import 'common/colors.scss';
@import 'common/fonts.scss';

#river {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entry {
    margin: 3rem 0;
    max-width: 75ch;
    width: 100%;

    list-style: inside;
    color: $font-white;

    .entry-header {

        .entry-path {
            font-weight: 100;
            color: $font-gray;
            font-size: .9rem;
            line-height: .9rem;
        }

        button {
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50%;
            padding: .25rem;
            background-color: $color-background;

            svg {
                path {
                    fill: $font-gray;
                }
            }

            &:hover {
                background-color: $font-gray;
                cursor: pointer;

                svg {
                    path {
                        fill: $base-body;
                    }
                }
            }

            .entry-x {
                width: 1rem;
                height: 1rem;
            }
        }

        h1.entry-title {
                margin-top: 1rem;
                font-size: 3rem;
                line-height: 2.25rem;
                font-weight: lighter;
                font-family: 'Angie', serif;
        }

        .entry-aliases {
            font-family: 'Angie', serif;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: lighter;
            font-style: italic;
            color: $font-gray;
            padding-left: 1rem;
        }

        .entry-meta {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 1rem;

            .entry-tag {
                font-size: 1rem;
                line-height: 1rem;
                padding: .25rem .25rem;
                font-weight: normal;
                color: $link-active;
                background-color: $color-background;
                border-radius: 1rem;
            }
        }

        hr {
            margin: 1rem 0;
            border: none;
            border-top: 4px solid $color-background;
        }
    }

}