@import 'common/colors.scss';

#river {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entry {
    margin: 3rem 0;
    max-width: 75ch;
    width: 100%;

    list-style: inside;

    .entry-header {

        .entry-title {
            height: 4rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 3rem;
                font-weight: 200;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 50%;
                margin: .75rem;
                padding: .25rem;
                background-color: $color-background;

                svg {
                    path {
                        fill: $color-font-light;
                    }
                }

                &:hover {
                    background-color: $color-font-light;
                    cursor: pointer;

                    svg {
                        path {
                            fill: $color-body;
                        }
                    }
                }

                .entry-x {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        hr {
            margin: 1rem 0;
            border: none;
            border-top: 4px solid $color-background;
        }
    }
}