@import 'common/colors.scss';

$indentation: 1rem;
$max-depth: 10;

#left-tree {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-top: 1rem;

  padding-bottom: 2rem;

  @for $i from 0 through $max-depth {
    .depth-#{$i} {

      font-size: 1rem;
      line-height: 1.5rem;
      position: relative;

      // unless depth is 0, add a border-left
      @if $i >0 {
        border-left: 1px dotted $color-font-light;
        padding-left: $indentation / 2;
        margin-left: $indentation / 2;
      }

      .left-folder {
        font-size: 1.1rem;
        font-weight: lighter;
        color: $color-font-light;
        cursor: pointer;
      }

      .left-link {
        text-decoration: none;
        color: $color-font-light;

        &:hover {
          color: $color-font;
        }
      }
    }
  }

  .v {
    width: 1rem;
    height: 1rem;

    path {
      fill: $color-font-light;
    }

    &.rotate {
      transform: rotate(90deg);
    }
  }

}