#left-tree {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 1rem;

    padding-bottom: 2rem;
}

$indentation: .75rem;
$max-depth: 10;

@for $i from 1 through $max-depth {
  .depth-#{$i} {
    padding-left: $indentation * $i;
  }
}

.v {
    width: 1rem;
    height: 1rem;

    margin-right: .5rem;

    &.rotate {
        transform: rotate(90deg);
    }
}

