@import 'common/colors.scss';

$indentation: 1rem;
$max-depth: 10;


.right {
    a {
        color: $color-font;
        text-decoration: none;

        &:hover {
            color: $color-link-hover;
        }
    }

    @for $i from 0 through $max-depth {
        .depth-#{$i} {
            padding-left: $indentation * $i;
        }
    }
}