@import 'common/colors.scss';

$indentation: 1rem;
$max-depth: 10;


.right {

    .entry-nav-group {
        margin: 1rem 0;

        a {
            color: $font-white;
            text-decoration: none;
            display: block;

            &:hover {
                color: $link-hover;
            }
        }

        @for $i from 0 through $max-depth {
            .depth-#{$i} {
                padding-left: $indentation * $i;
            }
        }
    }

}