@use "./base.scss";

span {

	&.float-right {
		float: right;
	}

	&.float-left {
		float: left;
	}

	&.sl-img {

		img {
			border-radius: 2rem;
			margin-bottom: 1rem;

		}

		&.float-right {
			margin-left: 1rem;

			img {
				box-shadow: -4px 4px 8px rgba(0 0 0 / .5);
			}
		}

		&.float-left {
			margin-right: 1rem;

			img {
				box-shadow: 4px 4px 8px rgba(0 0 0 / .5);
			}
		}
	}
}